$primary: rgb(30, 49, 32);
$secondary: rgb(30, 49, 32);

@mixin container() {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

@mixin button() {
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 60px;
    font-size: 1rem;
}

@mixin button-tertiary() {
    color: white;
    background-color: rgb(61, 111, 66);
}

@mixin background-image() {
    background-image: url('/bg-transparent-3.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}