@mixin container() {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

@mixin button() {
    text-align: center;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 60px;
    font-size: 1rem;
}

@mixin button_tertiary() {
    background-color: rgb(61, 111, 66);
}